[submodule "fastmcp"]
	path = fastmcp
	url = https://github.com/PrefectHQ/fastmcp.git
[submodule "code/cocoindex-code"]
	path = code/cocoindex-code
	url = git@github.com:cocoindex-io/cocoindex-code.git
